.modular_content md-whiteframe img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.modular_content md-whiteframe {
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
}

.modular_content md-whiteframe p, h1, h2, h3, h4 {
  font-size: 15px;
  font-weight: normal;
}

md-toolbar {
  .md-button:first-child {
    font-size: 25px;
    line-height: 40px;
    margin-right: 100px;
  }
  .md-accent {
    margin-top: 50px;
  }
  .md-button {
    margin-right: 7px;
    line-height: 45px;
  }
}

a {
  text-decoration: none;
  color: rgb(21,126,244);
}

a:hover {
  text-decoration: underline;
}
