<div layout="row" layout-sm="column" class="modular_content">

  <md-whiteframe class="md-whiteframe-z1" ng-controller="one.ParentCtrl" flex>
    <md-input-container flex>
      <label>Value</label>
      <input ng-model="value" type="text" placeholder="Enter a value">
    </md-input-container>
    <p style="text-align: center; text-weight: bold; font-size: 50px;">{{value}}<p>
  </md-whiteframe>


  <md-whiteframe class="md-whiteframe-z1" flex>
    <h3>1: Keeping things as simple as possible</h3>
    <a href="https://github.com/kosz/scope-instances/tree/master/src/routes/scenario-one" target="_blank">code on github</a>
    <p>
      It's sometimes good to stop and think if things are not needlesly overcomplicated, especially for the purpose of code maintanability. For the question at hand I feel the need to ask : <br/><br/>
    <em>Do we really need two controllers for such a simple operation ?</em><br/><br/>
      If the answer is no, then we can just eliminate one of the controllers.
    </p>
      <pre>
angular.module('myApp')
  .controller('ParentCtrl', function($scope) {
    $scope.value = 42;
  });
      </pre>
      <pre ng-non-bindable>
&lt;div ng-app="myApp" ng-controller="ParentCtrl"&gt;
  &lt;input ng-model="value" type="text" /&gt;
  {{value}}
&lt;/div&gt;
      </pre>
      <p style="font-size: 11px;">
        Note that while this code looks very much in tune with angular documentation code, the other solutions are better suited for real world angular apps.
      </p>
  </md-whiteframe>
</div>
